@import "bootstrap";

body{
  padding-top: 50px;
}

.home{
  text-align: center;
  a{
    margin-top: 10px;
  }
}

.folder_options{
  float: right;
}

.last_folders, .last_items{
  .btn{
    margin-bottom: 15px;
  }
}

@import "bootstrap-responsive";